.body{
  background-color: #111111;
}


.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #111111 !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #111111;
  color: white;
  width: 100%;
}

.logo {
  font-size: 1.5em;
}

.menu {
  flex-grow: 1;
  text-align: center;
}

.contact-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.btn{
  width: 100%;
  border: 2px white solid !important;
  color: #fff !important;
}

.menu{
  padding: 10px;
  text-decoration: auto;
  font-size: 17px;
  color: #fff;
}

.col-md-6{
  text-align: center;
}

.bannerheadline{
  color: white;
  font-size: 66px;
  font-family: Inter;
  font-weight: 500;
  line-height: 97.37px;
  word-wrap: break-word
  
}

.pdesc{
  color: white;
 font-size: 18px;
 font-family: Inter;
 font-weight: 500;
 line-height: 29.25px;
 word-wrap: break-word;
 padding-top: 50px;
}

.contact-form {
  text-align: center;
}

.input-container {
  position: relative;
  display: inline-block;
}

i.envelope-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
  font-style: inherit;
  padding-left: 10px;
}

input {
  padding: 10px 40px 10px 30px;
  border: 2px solid #555;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 250px;
  background-color: #333;
  color: #ccc;
}



.search{
  
  position: relative;
  box-shadow: 0 0 40px rgb(51 51 51 / 10%);
  width: 72%;
  margin-left: 72px;
  margin-top: 28px;

  }

.search input{

  height: 55px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  width: 100%;
  border-radius: 50px;
  background-color: #858181;
  opacity: 0.10;


}


  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;


  }

  .search .fa-search{

   position: absolute;
   top: 20px;
   left: 16px;

  }

  .search button{

   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
    background: #ffca2b;
    border-radius: 50px;
    color: #000 !important;
    border: unset !important;

  }

  .search input::placeholder {
    color: #fff;
    padding-left: 20px;
  }
